.register,
%register {
  font-weight: lighter;
  text-align: center;

  .warning {
    color: orangered;
    display: inline-block;
    font-weight: bold;
    margin-bottom: 15px;
  }

  input {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid gray;
    color: gray;
    display: block;
    font-weight: lighter;
    margin: auto auto 20px;
    padding: 8px;
    width: 15%;
  }

  button {
    background-color: #1fa3ec;
    border: 0;
    border-radius: 4px;
    color: #fff;
    margin: 0;
    margin-bottom: 20px;
    padding: 10px 0;
    width: 15%;

    &:disabled {
      color: rgb(206, 206, 206);
    }
  }
}

.register-mobile {
  @extend %register;

  h1 {
    font-size: 50px;
    font-weight: lighter;
  }

  input {
    font-size: 20px;
    margin: 0 auto 40px;
    width: 80%;
  }

  input::placeholder {
    color: rgba(109, 109, 109, 0.616);
  }

  button {
    font-size: 24px;
    height: 50px;
    width: 80%;
  }

  a:visited,
  a {
    color: #1fa3ec;
    text-decoration: none;
  }
}
