.search,
%search {
  font-weight: lighter;
  margin-top: 10px;
  text-align: center;

  h1 {
    font-weight: lighter;
    margin-bottom: 10px;
    text-align: center;
  }

  input {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid gray;
    color: gray;
    display: block;
    font-weight: lighter;
    margin: auto auto 20px;
    padding: 8px;
    width: 30%;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    font-size: 24px;
    margin: 10px 0;
  }

  a {
    color: #1fa3ec;
  }

  .person {
    a {
      color: #e11515;
      text-decoration: none;
    }
  }

  .person:nth-child(odd) {
    a {
      color: green;
    }
  }

  .no-lists {
    margin: 20px 0;
  }

  .group-info {
    font-size: 20px;
    margin-top: 50px;

    span {
      font-weight: bold;
    }
  }
}

.search-mobile {
  @extend %search;

  h1 {
    font-size: 28px;
  }

  input {
    font-size: 24px;
    margin: 30 auto 0;
    width: 80%;
  }

  li {
    font-size: 28px;
    margin: 10px 0;
  }

  .no-lists {
    font-size: 22px;
  }
}
