.christmas-list {
  margin-top: 30px;

  h3 {
    text-align: center;
  }

  ul {
    margin: auto;
    list-style: none;
    font-size: 22px;
    overflow-y: scroll;
    // column-count: 4;
    max-height: 275px;
    width: 50%;
    padding: 0;
  }

  li {
    margin-bottom: 40px;
    height: 50px;
  }

  .item {
    .remove-button {
      border-radius: 50%;
      height: 30px;
      width: 30px;
      color: white;
      background-color: tomato;
      border: none;
      font-weight: bold;
      font-size: 14px;
      vertical-align: top;
    }
    .remove-button:hover {
      color: red;
    }
  }

  .new-item {
    text-align: center;

    input {
      border: 0;
      border-bottom: 1px solid gray;
      color: gray;
      display: block;
      margin: auto auto 20px;
      padding: 8px;
      width: 15%;
    }

    button {
      background-color: #1fa3ec;
      border: 0;
      border-radius: 4px;
      color: #fff;
      margin: 0;
      margin-bottom: 20px;
      padding: 10px 0;
      width: 15%;
  
      &:disabled {
        color: rgb(206, 206, 206);
      }
    }
  }
}
