.christmas-list {
  font-weight: lighter;
  margin-top: 10px;

  .error {
    text-align: center;

    h3 {
      color: rgb(231, 33, 33);
      font-weight: lighter;
      margin-bottom: 30px;
    }

    button {
      @extend %button;
    }
  }

  .no-email {
    text-align: center;

    h3 {
      font-weight: lighter;
      margin-bottom: 30px;
    }

    button {
      @extend %button;
    }
  }

  .new-item {
    text-align: center;

    input {
      border: 0;
      border-bottom: 1px solid gray;
      color: gray;
      display: block;
      margin: auto auto 20px;
      padding: 8px;
      width: 15%;
    }

    button {
      @extend %button;
    }
  }

  h1 {
    font-weight: lighter;
    margin-bottom: 30px;
    text-align: center;
  }

  ul {
    font-size: 22px;
    list-style: none;
    margin: auto;
    padding: 0;
    text-align: center;
    vertical-align: top;
    width: 80%;
  }
}

%button {
  background-color: #1fa3ec;
  border: 0;
  border-radius: 4px;
  color: #fff;
  margin: 0;
  margin-bottom: 20px;
  padding: 10px 0;
  width: 15%;

  &:disabled {
    color: rgb(206, 206, 206);
  }
}
